{% extends 'auctions/layout.html' %}

{% load auctions_extras %}

{% block body %}
    {% if error_message %}
        <div class="alert alert-danger">
            <strong>{{ error_message }}</strong>
        </div>
    {% elif success_message %}
        <div class="alert alert-success">
            <strong>{{ success_message }}</strong>
        </div>
    {% endif %}

    {% if not listing.is_active and winning_bidder %}
        <div class="jumbotron">
            <p class="lead">You won the auction for this item!</p>
        </div>
    {% elif not listing.is_active %}
        <div class="jumbotron">
            <p class="lead">Listing is no longer active.</p>
        </div>
    {% endif %}

    <h2>Listing: {{ listing.title }}</h2>
    {% if on_watchlist %}
        <div>
            <span class="badge badge-secondary">Watchlist</span>
        </div>
    {% endif %}
    {% if listing.image %}
        <img src="{{ listing.image.url }}" alt="Image">
    {% endif %}
    <p>{{ listing.description }}</p>
    <h3>${{ listing|current_price }}</h3>
    {% if listing.is_active %}
    <p>{{ num_bids }} bid(s) so far. {% if user.is_authenticated and winning_bidder %}Your bid is the current bid. {% endif %}</p>
        {% if user.is_authenticated and user.username == listing.user_created.username %}
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <input class="btn btn-primary" name="close-listing" type="submit" value="Close Auction">
            </form>
        {% elif user.is_authenticated %}
            {% if on_watchlist %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-secondary" name="remove-watchlist" type="submit" value="Remove from Watchlist">
                </form>
            {% else %}
                <form action="{% url 'listing' listing.id %}" method="POST">
                    {% csrf_token %}
                    <input class="btn btn-secondary" name="add-watchlist" type="submit" value="Add to Watchlist">
                </form>
            {% endif %}
            <br>
            <form action="{% url 'listing' listing.id %}" method="POST">
                {% csrf_token %}
                <div class="form-group">
                    <input type="number" name="bid" class="form-control" placeholder="Bid" step="0.01" min="0" max="100000000">
                </div>
                <input class="btn btn-primary" name="submit-bid" type="submit" value="Place Bid">
            </form>
        {% endif %}
    {% endif %}
    <br>
    <h3>Details</h3>
    <ul>
        <li>Listed by: {{ listing.user_created.username }}</li>
        {% if listing.category %}
            <li>Category: {{ listing.category.category }}</li>
        {% else %}
            <li>Category: No Category Listed</li>
        {% endif %}
    </ul>
    <br>
    <h3>Comments</h3>
    {% if user.is_authenticated %}
        <form action="{% url 'add_comment' listing.id%}" method="POST">
            {% csrf_token %}
            <div class="form-group">
                <textarea name="comment" class="form-control" cols="30" rows="5"></textarea>
            </div>
            <input class="btn btn-secondary" name="add-comment" type="submit" value="Add Comment">
        </form>
        <hr>
    {% endif %}
    <div>
        {% for comment in comments %}
        <div>
            <p>{{ comment.content }}</p>
            <i>{{ comment.user.username }}</i> on {{ comment.time_posted }}
        </div>
        {% empty %}
            No comments.
        {% endfor %}
    </div>
{% endblock %}